node_modules/
out/
libs/ia32.debug/*.so
config.gypi
config.mk

# Natively compiled binary
codius_node
codius_node_g

# NaCl binary
codius_node.nexe
codius_node_g.nexe

# NetBeans IDE
/nbproject

*.pyc
*tags
*.tags_sorted_by_file
